extends ../layout/layout.jade

block content

  .bg-grey.m-b-lg
    +title( 'Be The Differece', 'Become the instructor that makes them love working out.', 'm-b-md p-t-lg' )
    .clearfix

  .container
    .row.m-y-lg
      .col-md-6
        h1.text-sans.hidden-md-up Group Ex Instructor
        img.pull-right.m-b.product-image(src=assets+'/products/group-ex-practical.jpg')
        .clearfix
      .col-md-6
        h1.text-sans.hidden-sm-down Group Ex Instructor
        p Fitness should be fun, challenging and rewarding. A great group instructor knows the human body, the science of exercise and how to inspire, challenge and motivate change in the lives of the people they lead. AFAA knows how to create great group instructors. 
        p
          strong How AFAA will prepare you:
        p With your AFAA Group Ex certification, you’ll get the tools, training and knowledge to help you lead people to healthier, happier lives. We’ll cover these key topics to get you prepared.
        ul
          li The Human Body & Exercise Physiology
          li How to Design, Choreograph and Teach a Class
          li The Basics of Nutrition and Weight Management
          li Professional Responsibilities and Business Strategies
          li And so much more
        p You must complete the program within one (1) year of your enrollment date. Currently certified AFAA instructors will earn 5 CEU credits upon the successful completion of this course.
        p.h3.text-sans.m-b-md.pull-left $699
        p.m-l.pull-left 15 CEUs
        .clearfix
        a(href='https://shop.nasm.org/addtocart.aspx?productid=9248').btn.btn-primary.btn-lg.m-b-lg 
          span.p-x-md.m-b-0.text-md Enroll Now
        h3 The Group Exercise Instructor certification includes:
        ul.p-l-md
          li Learn at your own pace with 14 on-line video lectures
          li Primary Group Exercise downloadable study guide
          li Sample multiple-choice test questions
          //- li Video lecture review clips
          li An independently monitored and authenticated online exam
          li One-year AFAA membership and subscription to American Fitness® magazine
          li AFAA Group Ex certification and I.D. Card (upon passing the online exam and providing proof of current hands-on CPR/AED certification).
        //- hr
        //- .technicalRequirements
          h3 Technical Requirements
          p.content The program includes video lectures. In order to play them, you will need Adobe Flash installed on your computer. 
            a(href='https://get.adobe.com/flashplayer/') Download the free program.
      .clearfix

  .container.m-b-lg
    .row
      hr.m-b-lg.m-t-lgrs
      .col-md-12
        h3.text-bold.text-condensed.text-uppercase.text-center.m-b-md You may also like...
      .col-md-3
        a(href='/workshops/group-ex')
          img.m-b(src=assets+'/products/group-ex-practical.jpg')
        p.text-center.m-b-0
          strong
            a(href='/workshops/group-ex') Group Ex Instructor Workshop
      .col-md-3
        a(href='/courses/group-excercise-the-practical-way')
          img.m-b(src=assets+'/products/group-ex-practical.jpg')
        p.text-center.m-b-0
          strong
            a(href='/courses/group-excercise-the-practical-way') Group Exercise: The Practical Way
      .col-md-3
        a(href='/courses/group-resistance-training')
          img.m-b(src=assets+'/products/group-rt.jpg')
        p.text-center.m-b-0
          strong
            a(href='/courses/group-resistance-training') Group Resistance Training
      .col-md-3
        a(href='/courses/practical-yoga-instructor-training')
          img.m-b(src=assets+'/products/practical-yoga.jpg')
        p.text-center.m-b-0
          strong
            a(href='/courses/practical-yoga-instructor-training') Practical Yoga Instructor Training
