extends ../layout/layout.jade

block content

  .bg-grey.m-b-lg
    +title( 'Be The Differece', 'Become the instructor that makes them love working out.', 'm-b-md p-t-lg' )
    .clearfix

  .container
    .row.m-y-lg
      .col-md-6
        h1.text-sans.hidden-md-up Group Ex Instructor
        img.pull-right.m-b.product-image(src=assets+'/products/group-ex-practical.jpg')
        .clearfix
      .col-md-6
        h1.text-sans.hidden-sm-down Group Ex Instructor
        p Learn at your own pace with 14 dynamic streaming video lectures, a downloadable study guide, and sample multiple choice questions. Then watch a series of short video lecture review clips to refresh your memory on key points of the video lectures.
        p Upon completion of the program, you’ll take an independently monitored two-hour, 100 question multiple choice exam. To receive the Primary Group Exercise certification, you must pass the written examination and show proof of your current hands-on CPR/AED certification.
        p Currently certified AFAA instructors will earn 5 CEU credits upon the successful completion of this course. You must complete the program within one (1) year of your enrollment date.
        p.h3.text-sans.m-b-md.pull-left $699
        p.m-l.pull-left 15 CEU's
        .clearfix
        a(href='').btn.btn-primary.btn-lg.m-b-lg 
          span.p-x-md.m-b-0.text-md Enroll Now
        h3 The Group Ex program includes:
        ul.p-l-md
          li 14 on-line video lectures
          li Primary Group Exercise downloadable study guide
          li Sample multiple-choice questions
          li Video lecture review clips
          li An independently monitored and authenticated written exam
          li One-year AFAA membership and a digital subscription to American Fitness® magazine
          li AFAA Certified Personal Trainer certification and I.D. card (upon passing the written examination and providing proof of current hands-on CPR/AED certification).
        hr
        .technicalRequirements
          h3 Technical Requirements
          p.content The program includes video lectures. In order to play them, you will need Adobe Flash installed on your computer. 
            a(href='https://get.adobe.com/flashplayer/') Download the free program.
      .clearfix

  .container.m-b-lg
    .row
      hr.m-b-lg.m-t-lgrs
      .col-md-12
        h3.text-bold.text-condensed.text-uppercase.text-center.m-b-md You may also like...
      .col-md-3
        a(href='/workshops/group-ex')
          img.m-b(src=assets+'/products/group-ex-practical.jpg')
        p.text-center.m-b-0
          strong
            a(href='/workshops/group-ex') Group Ex Instructor Workshop
      .col-md-3
        a(href='/courses/group-excercise-the-practical-way')
          img.m-b(src=assets+'/products/group-ex-practical.jpg')
        p.text-center.m-b-0
          strong
            a(href='/courses/group-excercise-the-practical-way') Group Exercise: The Practical Way
      .col-md-3
        a(href='/courses/group-resistance-training')
          img.m-b(src=assets+'/products/group-rt.jpg')
        p.text-center.m-b-0
          strong
            a(href='/courses/group-resistance-training') Group Resistance Training
      .col-md-3
        a(href='/courses/practical-yoga-instructor-training')
          img.m-b(src=assets+'/products/practical-yoga.jpg')
        p.text-center.m-b-0
          strong
            a(href='/courses/practical-yoga-instructor-training') Practical Yoga Instructor Training
