extends ../layout/layout.jade

block content

  .bg-grey.m-b-lg
    +title( 'Put The Power In Empower', 'You can be the biggest strength in their training.', 'm-b-md p-t-lg' )
    .clearfix

  .container
    .row.m-y-lg
      .col-md-6
        h1.text-sans.hidden-md-up Personal Fitness Trainer Certification
        img.pull-right.m-b.product-image(src=assets+'/products/group-x-practical.jpg')
        .clearfix
      .col-md-6
        h1.text-sans.hidden-sm-down Personal Fitness Trainer Certification
        p Turn your love for fitness and helping others into a rewarding career. As a certified personal fitness trainer, you don’t just help people workout, you help change behaviors that change lives. If you’re ready to make a difference, we’re ready to show you how.
        p AFAA's premiere eAFAA course, combines the industry leading personal trainer certification standards with the convenience of independent self-study, and the security of third-party monitoring and authenticating systems.
        p Learn at your own pace with 14 dynamic streaming video lectures, a downloadable study guide, and sample multiple-choice questions. Then watch a series of short video lecture review clips to refresh your memory on key points of the video lectures. Upon completion of the program, you’ll take an independently monitored two-hour, 120 question multiple-choice exam. 
        p To receive the Personal Fitness Trainer certification, you must pass the written practical examination and show proof of current hands-on CPR/AED certification.    
        p Currently certified AFAA instructors will earn 15 CEU credits upon the successful completion of this course. You must complete the program within one (1) year of your enrollment date
        p.h3.text-sans.m-b-md.pull-left $699
        p.m-l.pull-left 15 CEU's
        .clearfix
        a(href='').btn.btn-primary.btn-lg.m-b-lg 
          span.p-x-md.m-b-0.text-md Enroll Now
        h3 What Will I Learn
        p Your AFAA Personal Trainer certification combines the most current science with over 30 years of experience and leadership in the fitness industry.
        ul.p-l-md
          li Anatomy, Kinesiology, and Exercise Physiology
          li Behavior Modification and Communication Skills
          li Fitness screening, Health Assessment and Injury Prevention
          li Nutrition and weight management
        p And much more.
        hr
        .technicalRequirements
          h3 Technical Requirements
          p.content The program includes video lectures. In order to play them, you will need Adobe Flash installed on your computer. 
            a(href='#get-flash') Download the free program.
      .clearfix

  .container.m-b-lg
    .row
      hr.m-b-lg.m-t-lgrs
      .col-md-12
        h3.text-bold.text-condensed.text-uppercase.text-center.m-b-md You may also like...
      .col-md-3
        a(href='/workshops/personal-fitness-trainer')
          img.m-b(src=assets+'/products/personal-fitness-trainer.jpg')
        p.text-center.m-b-0
          strong
            a(href='/workshops/personal-fitness-trainer') Personal Fitness Trainer Workshop
      .col-md-3
        a(href='/courses/stress-gets-personal')
          img.m-b(src=assets+'/products/stress.jpg')
        p.text-center.m-b-0
          strong
            a(href='/courses/stress-gets-personal') Stress Gets Personal
      .col-md-3
        a(href='/courses/golden-hearts-senior-fitness-training')
          img.m-b(src=assets+'/products/golden-hearts.jpg')
        p.text-center.m-b-0
          strong
            a(href='/courses/golden-hearts-senior-fitness-training') Golden Hearts: Senior Fitness Training
      .col-md-3
        a(href='/courses/midlife-fitness-for-women')
          img.m-b(src=assets+'/products/midlife-fitness.jpg')
        p.text-center.m-b-0
          strong
            a(href='/courses/midlife-fitness-for-women') Midlife Fitness for Women
