.hero.m-b-lg
  .container.p-x-0
    .cycle-slideshow(
      data-cycle-slides='> .slide'
      data-cycle-fx='scrollHorz'
      data-cycle-swipe='true'
      data-cycle-swipe-fx='scrollHorz'
      data-cycle-pause-on-hover='true'
      data-cycle-speed='1000'
    )
      .cycle-pager
      .slide.slide1
        .col-md-7.col-lg-6.col-xl-5.text-center-xs-down.p-b.p-t-md
          h1.text-center.text-uppercase.text-bold Motivate. Inspire. Move.
          a(href='/courses/group-x').btn.btn-primary.btn-lg.center-block Become An Instructor
      .slide.slide2
        .col-md-7.col-lg-6.col-xl-5.text-center-xs-down.p-b.p-t-md.pull-right
          h1.text-center.text-uppercase.text-bold Challenge Yourself. Challenge Others.
          a(href='/courses/certified-personal-trainer').btn.btn-primary.btn-lg.center-block Become A Personal Trainer
      .slide.slide3
        .col-md-7.col-lg-6.col-xl-5.text-center-xs-down.p-b.p-t-md
          h1.text-center.text-uppercase.text-bold Great Teachers Never Stop Learning.
          a(href='/courses').btn.btn-primary.btn-lg.center-block Continue Your Education
