.hero.m-b-lg
  .container.p-a-lg
    .row
      .m-t-lg.hidden-sm-down
      .cycle-slideshow(
        data-cycle-slides='> div'
        data-cycle-fx='scrollHorz'
        data-cycle-swipe='true'
        data-cycle-swipe-fx='scrollHorz'
      )
        .col-md-7.col-lg-6.col-xl-5.text-center-xs-down
          h1.text-center.text-uppercase.text-bold Motivate. Inspire. Move
          a(href='/products/group-x').btn.btn-primary.btn-lg.center-block Become An Instructor
        .col-md-7.col-lg-6.col-xl-5.text-center-xs-down
          h1.text-center.text-uppercase.text-bold Challenge Yourself. Challenge Others.
          a(href='/products/group-x').btn.btn-primary.btn-lg.center-block Become A Personal Trainer
        .col-md-7.col-lg-6.col-xl-5.text-center-xs-down
          h1.text-center.text-uppercase.text-bold='Continuing Education – “Great Teachers Never Stop Learning.”'
          a(href='/products/group-x').btn.btn-primary.btn-lg.center-block Continue Your Education
