nav.navbar.navbar-main.hidden-sm-down
  .container
    // Regular Navigation
    ul.nav.navbar-nav.pull-right
      each nav in navigation
        li.nav-item(class=nav.liclass)
          a.nav-link(href=nav.link, class=nav.class, id=nav.id) #{nav.title}
    .clearfix
