nav.navbar.navbar-main
  .mobile-nav-spacer.hidden-md-up
  .container
    button.navbar-toggler.hidden-md-up(data-toggle='collapse', data-target='#mobileNav') &#9776;
    ul.nav.navbar-nav.hidden-sm-down.pull-right
      each nav in navigation
        li.nav-item(class=nav.liclass)
          a.nav-link(href=nav.link, class=nav.class, id=nav.id) #{nav.title}
    .clearfix
    ul#mobileNav.nav.nav-pills.nav-stacked.collapse
      each nav in navigation
        li.nav-item
          a.nav-link(href=nav.link, class=nav.class, id=nav.id) #{nav.title}
