extends ./layout/layout.jade

mixin course( product )
  .course.p-y
    .col-md-3.col-lg-2.p-a-0.hidden-sm-down
      a(href='/products/'+product.filename)
        img(src=assets+product.images[0])
    .col-md-6.col-lg-7.content
      a(href='/products/'+product.filename)
        h5.pull-left=product.title
      .clearfix
      each description in product.description
        p.text-small=description
    .col-md-3.col-lg-3
      //- .m-b-lg.hidden-sm-down
      .m-b.hidden-md-up
      a(href='/products/'+product.filename).m-b.pull-right.btn.btn-sm.btn-secondary CEUs: 
        strong #{product.ceus}
      a(href='/products/'+product.filename).pull-right.btn.btn-primary.btn-block Enroll Now
    .clearfix

mixin section( section, products )
  .col-md-12.m-b-lg.b-b
    h3.m-b.text-center.text-bold.text-uppercase=section
    each product in products
      if product.types != undefined
        if product.types[0] === section
          +course( product )
    .clearfix

block content
  .container
    .row
      .m-b-lg
      .col-md-12.m-b-lg
        - var educationSections = [ 'Specializations', 'CEU Corner' ];
        ul.nav.nav-tabs.m-b-lg
          each section in educationSections
            li.nav-item
              a.nav-link=section
        each section in educationSections
          +section( section, products )
