extends ./layout/layout.jade

block vars
  - function toSlug( text ) {
  -   return text.toLowerCase().replace( ' ' , '-' )
  - }

mixin course( product )
  .course.p-y
    .col-md-3.col-lg-2.p-a-0.hidden-sm-down
      a(href='/products/'+product.filename)
        img(src=assets+product.images[0])
    .col-md-6.col-lg-7.content
      a(href='/products/'+product.filename)
        h3=product.title
          a(href='/products/'+product.filename).m-b.pull-right.btn.btn-sm.btn-secondary CEUs: 
            strong #{product.ceus}
      .clearfix
      each description in product.description
        p.text-small=description
    .col-md-3.col-lg-3
      //- .m-b-lg.hidden-sm-down
      .m-b.hidden-md-up
      a(href='/products/'+product.filename).pull-right.btn.btn-primary.btn-block Enroll Now
    .clearfix

mixin section( section, products )
  if section !== 'Everything'
    .col-md-12.m-b-lg.b-b.tab-pane.active( id=toSlug( section ) )
      h3.m-b.text-center.text-bold.text-uppercase=section
      each product in products
        if product.types != undefined
          if product.types[0] === section
            +course( product )
      .clearfix

block content
  .container
    .row
      .m-b-lg
      .col-md-12.m-b-lg
        - var educationSections = [ 'Group X', 'Personal Trainer', 'Specializations', 'Continuing Education', 'CEU Corner' ];
        ul.nav.nav-tabs.m-b-lg
          li.nav-item
            a.nav-link.active#everything( href='#everything', data-toggle='tab' ) Everything
          each section in educationSections
            li.nav-item
              a( href='#' + toSlug( section ), data-toggle='tab' ).nav-link=section
        .tab-content
          +section( 'Everything', products )
          each section in educationSections
            +section( section, products )

block pageJS
  script(src='/js/courseTabs.js')
