mixin title( title, tagline, colClass )
  if colClass
    .col-md-12( class=colClass )
      +titleHeadings( title, tagline )
  else
    .col-md-12.m-b-lg
      +titleHeadings( title, tagline ) 

mixin titleHeadings( title, tagline )
  h2.text-center.text-bold.text-uppercase=title
  p.text-center.text-muted=tagline

mixin quote( quote, attribution )
  blockquote.quote
    i.fa.fa-quote-left.fa-2x.fa-pull-left.text-gray-lighter
    p.m-l-lg.text-italic=quote
    footer.m-l-lg=attribution
