mixin title( title, tagline, colClass )
  if colClass
    .col-md-12( class=colClass )
      +titleHeadings( title, tagline )
  else
    .col-md-12.m-b-lg
      +titleHeadings( title, tagline ) 

mixin titleHeadings( title, tagline )
  h2.text-center.text-bold.text-uppercase=title
  p.text-center.text-muted=tagline

mixin quote( quote, attribution )
  blockquote.quote
    i.fa.fa-quote-left.fa-2x.fa-pull-left.text-gray-lighter
    p.m-l-lg.text-italic=quote
    footer.m-l-lg=attribution

mixin course( product )
  .course.p-y
    .col-md-3.col-lg-2.p-a-0.hidden-sm-down
      a(href='/courses/'+product.filename.replace('.html', ''))
        img(src=assets+product.images[0])
    .col-md-6.col-lg-7.content
      h3.m-b-0
        a(href='/courses/'+product.filename.replace('.html', ''))=product.title 
          if product.subhead
            span.block
              small.text-muted=' ' + product.subhead
      span.m-b-lg CEUs: #{product.ceus}
      .clearfix
      each description, index in product.description
        if index === ( product.description.length - 1 )
          p.text-small=description + ' '
            a(href='/courses/'+product.filename.replace('.html', '')) Learn more...
        else
          p.text-small=description
    .col-md-3.col-lg-3
      //- .m-b-lg.hidden-sm-down
      .m-b.hidden-md-up
      a(href=product.link).pull-right.btn.btn-primary.btn-block Enroll Now
      //- a.text-center links!
    .clearfix

mixin section( section, products )
  if section !== everything
    .col-md-12.m-b-lg.tab-pane.active( id=toSlug( section ) + '_hash' )
      h3.m-b.text-center.text-bold.text-uppercase=section
      each product in products
        if product.types != undefined
          if product.types[0] === section
            +course( product )
      .clearfix
