extends ../layout/layout.jade

block content

  if product.heading
    .bg-grey.m-b-lg
      .col-md-12.m-b-md.p-t-lg
        h2.text-center.text-bold.text-uppercase=product.heading
        p.text-center.text-muted.lead=product.subheading
      .clearfix

  .container
    .row.m-y-lg
      .col-md-6
        h1.text-sans.hidden-md-up=product.title
          if product.subhead
            span.block
              small.text-muted=product.subhead
        img.pull-right.m-b.product-image(src=assets+product.images[0])
        .clearfix
        if product.images.length > 1
          each image, idx in product.images
            if idx == 0
              img.pull-right.m-l.product-thumb.desaturate.active(src=assets+image)
            else
              img.pull-right.m-l.product-thumb.desaturate(src=assets+image)
        .clearfix
      .col-md-6
        h1.text-sans.hidden-sm-down=product.title
          if product.subhead
            span.block
              small.text-muted=product.subhead
        each description in product.description
          p=description
        p.h3.text-sans.m-b-md.pull-left $#{product.price}
        p.m-l.pull-left #{product.ceus} CEU's
        .clearfix
        a(href='https://shop.nasm.org/addtocart.aspx?productid='+product.link).btn.btn-primary.btn-lg.m-b-lg 
          span.p-x-md.m-b-0.text-md Enroll Now
        if product.featureTitle
          h3=product.featureTitle
        if product.featureDescription
          p=product.featureDescription
          ul.p-l-md
            each feature in product.features
              li=feature
          hr
          .technicalRequirements
            h3 Technical Requirements
            p.content The program includes video lectures. In order to play them, you will need Adobe Flash installed on your computer. 
              a(href='https://get.adobe.com/flashplayer/') Download the free program.
      .clearfix

//- block pageJS
//-   if product.featureDescription
//-     script(src='/js/technicalSlider.js')
